#header {
	background-color: #2A2A2A;
}

ul {
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#question {
	clear: both;
}

#img_container {
	text-align: center;
}

#quiz_img {
	float:right;
}